.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  
  @media screen and (max-width: 768px) {
    .menu-list {
      grid-template-columns: 1fr;
    }
  }